/* Common styles */
body {
    margin: 0px;
}
/* Common Nav styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* makes this into a flexbox container */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    /* padding: 100px; */
    /* padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px; */
}
.left-column {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    font-size: 2em;
}
.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.address-wrapper {
    
}